target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/setup.setWebDriver/**/target/
reports/
#src/main/resources/application.properties

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
